$$
Clear Data Sets
$$
**data set is not clear we should clearing**

**fitst add pandas and numpy library**

In [160]:
# initialize
import numpy as np
import pandas as pd

**Next, the data must be read**

In [161]:
ipmData = pd.read_csv("A:\project & example python\mch\IPM Spacecraft\data\data.csv")
ipmData

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,Europa,False,A/98/P,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False
8689,9278_01,Earth,True,G/1499/S,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False
8690,9279_01,Earth,False,G/1500/S,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True
8691,9280_01,Europa,False,E/608/S,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False
8692,9280_02,Europa,False,E/608/S,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True

In [162]:
categorialcolumns = ['HomePlanet', 'CryoSleep', 'Cabin', 'Destination','VIP','Name','Transported']
numericalcolumns = ['Age','RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck']
c = ['Age','RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck','HomePlanet', 'CryoSleep', 'Cabin', 'Destination','VIP','Name','Transported']

In [163]:

from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder, MinMaxScaler
from sklearn.pipeline import Pipeline

numeric_pipeline = Pipeline(steps=[
    ('impute', SimpleImputer(strategy='mean')),
    # ('scale', MinMaxScaler())
])

categorical_pipeline = Pipeline(steps=[
    ('impute', SimpleImputer(strategy='most_frequent')),
    # ('one-hot', OneHotEncoder(handle_unknown='ignore', sparse=False))
])

In [164]:
from sklearn.compose import ColumnTransformer

full_processor = ColumnTransformer(transformers=[
    ('number', numeric_pipeline, numericalcolumns),
    ('category', categorical_pipeline, categorialcolumns)
])

In [165]:
train = full_processor.fit_transform(ipmData)

In [166]:
train = pd.DataFrame(train,columns = c)
train

,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,HomePlanet,CryoSleep,Cabin,Destination,VIP,Name,Transported
0,39.0,0.0,0.0,0.0,0.0,0.0,Europa,False,B/0/P,TRAPPIST-1e,False,Maham Ofracculy,False
1,24.0,109.0,9.0,25.0,549.0,44.0,Earth,False,F/0/S,TRAPPIST-1e,False,Juanna Vines,True
2,58.0,43.0,3576.0,0.0,6715.0,49.0,Europa,False,A/0/S,TRAPPIST-1e,True,Altark Susent,False
3,33.0,0.0,1283.0,371.0,3329.0,193.0,Europa,False,A/0/S,TRAPPIST-1e,False,Solam Susent,False
4,16.0,303.0,70.0,151.0,565.0,2.0,Earth,False,F/1/S,TRAPPIST-1e,False,Willy Santantines,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,41.0,0.0,6819.0,0.0,1643.0,74.0,Europa,False,A/98/P,55 Cancri e,True,Gravior Noxnuther,False
8689,18.0,0.0,0.0,0.0,0.0,0.0,Earth,True,G/1499/S,PSO J318.5-22,False,Kurta Mondalley,False
8690,26.0,0.0,0.0,1872.0,1.0,0.0,Earth,False,G/1500/S,TRAPPIST-1e,False,Fayey Connon,True
8691,32.0,0.0,1049.0,0.0,353.0,3235.0,Europa,False,E/608/S,55 Cancri e,False,Celeon Hontichre,False
8692,44.0,126.0,4688.0,0.0,0.0,12.0,Europa,False,E/608/S,TRAPPIST-1e,False,Propsh Hontichre,True

In [167]:
train['PassengerId'] = ipmData.PassengerId

In [168]:
train = train[['PassengerId','HomePlanet', 'CryoSleep', 'Cabin', 'Destination', 'Age',
       'VIP', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck',
       'Name', 'Transported']]

In [169]:
train

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,Europa,False,A/98/P,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False
8689,9278_01,Earth,True,G/1499/S,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False
8690,9279_01,Earth,False,G/1500/S,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True
8691,9280_01,Europa,False,E/608/S,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False
8692,9280_02,Europa,False,E/608/S,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True

In [174]:
train.CryoSleep = train.CryoSleep.map({True:1,False:0})
train.VIP = train.VIP.map({True:1,False:0})
train.Transported = train.Transported.map({True:1,False:0})

In [175]:
train

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,0,B/0/P,TRAPPIST-1e,39.0,0,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,0
1,0002_01,Earth,0,F/0/S,TRAPPIST-1e,24.0,0,109.0,9.0,25.0,549.0,44.0,Juanna Vines,1
2,0003_01,Europa,0,A/0/S,TRAPPIST-1e,58.0,1,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,0
3,0003_02,Europa,0,A/0/S,TRAPPIST-1e,33.0,0,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,0
4,0004_01,Earth,0,F/1/S,TRAPPIST-1e,16.0,0,303.0,70.0,151.0,565.0,2.0,Willy Santantines,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,Europa,0,A/98/P,55 Cancri e,41.0,1,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,0
8689,9278_01,Earth,1,G/1499/S,PSO J318.5-22,18.0,0,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,0
8690,9279_01,Earth,0,G/1500/S,TRAPPIST-1e,26.0,0,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,1
8691,9280_01,Europa,0,E/608/S,55 Cancri e,32.0,0,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,0
8692,9280_02,Europa,0,E/608/S,TRAPPIST-1e,44.0,0,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,1

**start clean**

In [172]:
toRemove = ["HomePlanet","Spa","VRDeck","ShoppingMall","RoomService","FoodCourt"]
ipmData.drop(toRemove, inplace=True, axis=1)
print(ipmData.head())

  PassengerId CryoSleep  Cabin  Destination   Age    VIP               Name  \
0     0001_01     False  B/0/P  TRAPPIST-1e  39.0  False    Maham Ofracculy
1     0002_01     False  F/0/S  TRAPPIST-1e  24.0  False       Juanna Vines
2     0003_01     False  A/0/S  TRAPPIST-1e  58.0   True      Altark Susent
3     0003_02     False  A/0/S  TRAPPIST-1e  33.0  False       Solam Susent
4     0004_01     False  F/1/S  TRAPPIST-1e  16.0  False  Willy Santantines

   Transported
0        False
1         True
2        False
3        False
4         True

**Maby need to Transported so  Transported conversion to 0 and 1**

In [173]:
for i in range (np.shape(ipmData)[0]):
    if ipmData["Transported"][i] == True:
        ipmData["Transported"][i] = 1
    else:
        ipmData["Transported"][i] = 0
for i in range (np.shape(ipmData)[0]):
    if ipmData["CryoSleep"][i] == True:
        ipmData["CryoSleep"][i] = 1
    else:
        ipmData["CryoSleep"][i] = 0
for i in range (np.shape(ipmData)[0]):
    if ipmData["VIP"][i] == True:
        ipmData["VIP"][i] = 1
    else:
        ipmData["VIP"][i] = 0
ipmData.head()

C:\Users\HP\AppData\Local\Temp\ipykernel_11840\569667198.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ipmData["Transported"][i] = 0
C:\Users\HP\AppData\Local\Temp\ipykernel_11840\569667198.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ipmData["CryoSleep"][i] = 0
C:\Users\HP\AppData\Local\Temp\ipykernel_11840\569667198.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ipmData["CryoSleep"][i] = 1
C:\Users\HP\AppData\Local\Temp\ipykernel_11840\569667198.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ipmData["VIP"][i] = 0
C:\Users\HP\AppData\Local\Temp\ipykernel_11840\569667198.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ipmData["VIP"][i] = 1

,PassengerId,CryoSleep,Cabin,Destination,Age,VIP,Name,Transported
0,0001_01,0,B/0/P,TRAPPIST-1e,39.0,0,Maham Ofracculy,0
1,0002_01,0,F/0/S,TRAPPIST-1e,24.0,0,Juanna Vines,1
2,0003_01,0,A/0/S,TRAPPIST-1e,58.0,1,Altark Susent,0
3,0003_02,0,A/0/S,TRAPPIST-1e,33.0,0,Solam Susent,0
4,0004_01,0,F/1/S,TRAPPIST-1e,16.0,0,Willy Santantines,1