

*   defind library
* numpy and sklearn and pandas

In [29]:
import numpy as np
import sklearn as sk
import pandas as pd

defind function evaluation for calculation **accurcy** and **loss**

In [30]:
def evaluate(predict,label):
  N=label.shape[0]
  H=predict==label
  Nt=np.sum(H==1)
  accurcy=Nt/N
  loss=1-accurcy
  return accurcy , loss

loding database with pandas

In [31]:
df = pd.read_csv("cleandata.csv")
df.head()
_df = df.drop("Unnamed: 0",axis="columns")
_df.head()

,PassengerId,CryoSleep,Cabin,Destination,Age,VIP,Name,Transported
0,0001_01,0,B/0/P,TRAPPIST-1e,39.0,0,Maham Ofracculy,0
1,0002_01,0,F/0/S,TRAPPIST-1e,24.0,0,Juanna Vines,1
2,0003_01,0,A/0/S,TRAPPIST-1e,58.0,1,Altark Susent,0
3,0003_02,0,A/0/S,TRAPPIST-1e,33.0,0,Solam Susent,0
4,0004_01,0,F/1/S,TRAPPIST-1e,16.0,0,Willy Santantines,1

In [32]:
_df["Transported"].value_counts()
_df["CryoSleep"]

0       0
1       0
2       0
3       0
4       0
       ..
8688    0
8689    1
8690    0
8691    0
8692    0
Name: CryoSleep, Length: 8693, dtype: int64

calculation **Correlation**

In [33]:
_df.corr()["Transported"]

CryoSleep      0.460132
Age           -0.075026
VIP           -0.037261
Transported    1.000000
Name: Transported, dtype: float64

calculation how pepole Transported

In [34]:
from sklearn.model_selection import train_test_split
X = _df.drop(["Cabin","Destination","Name","PassengerId","Transported","Age","VIP"],axis=1)
Y = df["Transported"] 
print(f'the number of Transported {np.sum(Y==1)}')
print(f'the number of Transported {np.sum(Y==0)}')

the number of Transported 4378
the number of Transported 4315



*   20 percent for test 
*   80 percent for train

In [35]:
X_trian,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2,random_state=42)

learn machine by trian and calculation X_test

In [36]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_trian=sc.fit_transform(X_trian)
X_test=sc.transform(X_test)

In [37]:
from sklearn.discriminant_analysis import QuadraticDiscriminantAnalysis
modul=QuadraticDiscriminantAnalysis()

math Quadratic Discriminant Analysis

In [38]:
modul.fit(X_trian,Y_train)

QuadraticDiscriminantAnalysis()

In [39]:
predict=modul.predict(X_test)
predict

array([0, 0, 1, ..., 0, 1, 0])

print accurcy and loss

In [40]:
accurcy, loss = evaluate(predict,Y_test)
print(f'accurcy: {accurcy} loss: {loss}')

accurcy: 0.7222541690626797 loss: 0.2777458309373203