In [21]:
import numpy as np
import sklearn as sk
import pandas as pd

In [35]:
def evaluate(predict,label):
  N=label.shape[0]
  H=predict==label
  Nt=np.sum(H==1)
  accurcy=Nt/N
  loss=1-accurcy
  return accurcy , loss

In [22]:
df = pd.read_csv("cleandata.csv")
df

,Unnamed: 0,PassengerId,CryoSleep,Cabin,Destination,Age,VIP,Name,Transported
0,0,0001_01,0,B/0/P,TRAPPIST-1e,39.0,0,Maham Ofracculy,0
1,1,0002_01,0,F/0/S,TRAPPIST-1e,24.0,0,Juanna Vines,1
2,2,0003_01,0,A/0/S,TRAPPIST-1e,58.0,1,Altark Susent,0
3,3,0003_02,0,A/0/S,TRAPPIST-1e,33.0,0,Solam Susent,0
4,4,0004_01,0,F/1/S,TRAPPIST-1e,16.0,0,Willy Santantines,1
...,...,...,...,...,...,...,...,...,...
8688,8688,9276_01,0,A/98/P,55 Cancri e,41.0,1,Gravior Noxnuther,0
8689,8689,9278_01,1,G/1499/S,PSO J318.5-22,18.0,0,Kurta Mondalley,0
8690,8690,9279_01,0,G/1500/S,TRAPPIST-1e,26.0,0,Fayey Connon,1
8691,8691,9280_01,0,E/608/S,55 Cancri e,32.0,0,Celeon Hontichre,0
8692,8692,9280_02,0,E/608/S,TRAPPIST-1e,44.0,0,Propsh Hontichre,1

loding database

In [23]:
df = pd.read_csv("cleandata.csv")
df.head()
_df = df.drop("Unnamed: 0",axis="columns")
_df.head()

,PassengerId,CryoSleep,Cabin,Destination,Age,VIP,Name,Transported
0,0001_01,0,B/0/P,TRAPPIST-1e,39.0,0,Maham Ofracculy,0
1,0002_01,0,F/0/S,TRAPPIST-1e,24.0,0,Juanna Vines,1
2,0003_01,0,A/0/S,TRAPPIST-1e,58.0,1,Altark Susent,0
3,0003_02,0,A/0/S,TRAPPIST-1e,33.0,0,Solam Susent,0
4,0004_01,0,F/1/S,TRAPPIST-1e,16.0,0,Willy Santantines,1

In [24]:
_df["Transported"].value_counts()
_df["CryoSleep"]

0       0
1       0
2       0
3       0
4       0
       ..
8688    0
8689    1
8690    0
8691    0
8692    0
Name: CryoSleep, Length: 8693, dtype: int64

In [25]:
_df.corr()["Transported"]

CryoSleep      0.460132
Age           -0.075026
VIP           -0.037261
Transported    1.000000
Name: Transported, dtype: float64

from sklearn.model_selection import train_test_split
X = _df.drop(["Cabin","Destination","Name","PassengerId","Transported","Age","VIP"],axis=1)
Y = df["Transported"]
print (f'the number Transported {np.sum(Y==1)}')
print (f'the number not Transported {np.sum(Y==1)}')

In [26]:
from sklearn.model_selection import train_test_split
X = _df.drop(["Cabin","Destination","Name","PassengerId","Transported","Age","VIP"],axis=1)
Y = df["Transported"] 
print(f'the number of Transported {np.sum(Y==1)}')
print(f'the number of Transported {np.sum(Y==0)}')

the number of Transported 4378
the number of Transported 4315

In [27]:
X_trian,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2,random_state=42)

In [28]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_trian=sc.fit_transform(X_trian)
X_test=sc.transform(X_test)

In [29]:
from sklearn.discriminant_analysis import QuadraticDiscriminantAnalysis
modul=QuadraticDiscriminantAnalysis()

In [30]:
modul.fit(X_trian,Y_train)

QuadraticDiscriminantAnalysis()

In [32]:
predict=modul.predict(X_test)
predict

array([0, 0, 1, ..., 0, 1, 0])

In [36]:
accurcy, loss = evaluate(predict,Y_test)
print(accurcy, loss)

0.7222541690626797 0.2777458309373203